{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./output.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 text-gray-800 min-h-screen flex flex-col">
<main class="flex-1">
<!-- HEADER -->
<header class="bg-blue-900 text-white shadow-lg">
    <div class="max-w-7xl mx-auto flex justify-between items-center p-4">
        <div class="flex items-center gap-3">
            <img src="{% static '/photo/logo.jpg' %}" class="w-10 h-10 rounded-full">
            <a href="{% url 'home' %}" class="text-white font-bold text-lg">
    GBT Elshaddai Solo
</a>
        </div>
<!-- DROPDOWN MENU -->
        <nav>
            <ul class="flex gap-6">
				<div class="relative group">
				<button class="text-white font-medium">
				Menu
				</button>

					<div class="absolute opacity-0 group-hover:opacity-100 invisible group-hover:visible transition-all duration-300 bg-white text-black mt-2 rounded-lg shadow-lg w-48">
						<a href="{% url 'jadwalibadah' %}" class="block px-4 py-2 hover:bg-gray-100">Ibadah</a>
						<a href="{% url 'jadwalpelayanan' %}" class="block px-4 py-2 hover:bg-gray-100">Pelayan Altar</a>
						<a href="{% url 'renungan_list' %}" class="block px-4 py-2 hover:bg-gray-100">Renungan</a>
						<a href="{% url 'wartagereja' %}" class="block px-4 py-2 hover:bg-gray-100">Warta Gereja</a>
					</div>
				</div>
<!-- dropwon login -->
			<ul class="flex gap-6 items-center">
			{% if user.is_authenticated %}

    <li class="text-white">
        Halo, {{ user.username }}
    </li>

    <li>
        <a href="{% url 'logout' %}"
           class="bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600">
           Logout
        </a>
    </li>
{% else %}
    <li>
        <a href="{% url 'login' %}"
           class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600">
           Login
        </a>
    </li>
	{% endif %}

			</ul>
        </nav>
    </div>
</header>

<!-- Jadwal Ibadah -->
<div class="max-w-3xl mx-auto py-10 px-6">
    <h1 class="text-3xl font-bold mb-4">{{ data.nama }}</h1>
	<p class="leading-relaxed">
        {{ data.tanggal }}
    </p>
	<p class="leading-relaxed">
        {{ data.tempat }}
    </p>
    <a href="{% url 'jadwal_ibadahlist' %}" class="text-blue-500 mt-6 inline-block">
        Kembali
    </a>
</div>

<!-- Chatbox -->
<script>
(function(){if(!window.chatbase||window.chatbase("getState")!=="initialized"){window.chatbase=(...arguments)=>{if(!window.chatbase.q){window.chatbase.q=[]}window.chatbase.q.push(arguments)};window.chatbase=new Proxy(window.chatbase,{get(target,prop){if(prop==="q"){return target.q}return(...args)=>target(prop,...args)}})}const onLoad=function(){const script=document.createElement("script");script.src="https://www.chatbase.co/embed.min.js";script.id="GkWeCUnxRtC7QCz6whNvf";script.domain="www.chatbase.co";document.body.appendChild(script)};if(document.readyState==="complete"){onLoad()}else{window.addEventListener("load",onLoad)}})();
</script>
</main>

<!-- FOOTER -->
<footer class="bg-blue-900 text-white text-center py-6 mt-10">
    <p>© 2026 GBT Elshaddai Solo</p>
</footer>

</body>
</html>